* {
  margin-bottom: 0px;
}
img {
  float: right;
}
.message {
  color: green;
  background-color: #ddff70;
  border: 2px;
}
.message,
fieldset {
  width: 800px;
}
button {
  width: 60px;
  height: 25px;
  color: white;
  background-color: #3399cc;
  border-radius: 2px;
  border: none;
  float: right;
}
